name: Pytest
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  tests:
    name: >-
      Pytest - Python ${{ matrix.PYTHON_VERSION }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { PYTHON_VERSION: '3.8' }
          - { PYTHON_VERSION: '3.9' }
          - { PYTHON_VERSION: '3.10' }
          - { PYTHON_VERSION: '3.11' }
          - { PYTHON_VERSION: '3.12' }
          - { PYTHON_VERSION: '3.13' }
    steps:
      - name: "Checkout to repository"
        uses: actions/checkout@v4.2.2

      - name: "Setup Python"
        uses: actions/setup-python@v5.3.0
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
          cache: 'pip'
          allow-prereleases: true

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements.dev.txt

      - name: "Run tests"
        uses: pavelzw/pytest-action@v2.2.0

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.5.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Test reporter
        uses: phoenix-actions/test-reporting@v15
        if: always()
        with:
          name: EsXport tests for (Python ${{ matrix.PYTHON_VERSION }})
          path: junit.xml
          reporter: java-junit
          output-to: step-summary
          only-summary: true
          max-annotations: 0
